*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1450px;
  
}


.middle-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 500px;
  background-color: red;
}

/* HEADER */
header{
  background-color: aquamarine;
  padding: 20px 0;
}
.header-container{
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
}
.logo, .btn{
 border: 2px solid black;
 width: 20%;
 background-color: orange;
}

.btn{
  text-align: right;
}

.logo span{
  text-align: left;
  
}

.lista-header{
  background-color: orange;
  width: 60%;
  border: 2px solid black;
}

ul{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
}

/* /HEADER */

/* MAIN */

.jumboscreen{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: 600px;
}
.titolo{
  width: 50%;
  height: 350px;
  background-color: pink;
}

.middle-page{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  height: 700px;
}
.rana{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.foto-grande{
  width: 60%;
  height: 500px;
  background-color: burlywood;
}

.little-text{
  width: 40%;
  height: 500px;
  background-color: blueviolet;
}

